
:root {
    --teal-800: #0d9488;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}
    
.bg-teal {
    background-color: var(--teal-800);

}
.contain-code{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.code {
    padding: 1rem;
    background-color: rgb(40, 41, 43);
    border: 2px solid grey;
    border-radius: 5px;
    min-height: 40px;

    color: white;
    flex-grow: 1;

}

.back-menu {
    background-color: rgb(24, 131, 134);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.back-menu:hover {
    background-color: rgb(15, 83, 85);
}

.overflow {
    background-color: bisque;
    width: 300px;
    height: 100px;
    overflow: auto;
}

.maqueta {
    height: 200px;
}

.ex {
    min-height: 150px;
}

video {
    width: 300px;
}

.inline-box {
    display: inline;
    background-color: #8C271E;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
}

.block-box {
    display: block;
    background-color: #0B3948;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

/* .coment {
    color:rgb(0, 126, 21);
    margin: 0;
    font-weight: bold;
}

.coment::before {
    content: " ";
}

.coment::after {
    content: "";
} */

/* 
    Todas las clases siguientes que comeinzan por .hljs son de la librería Highlight.js
    Aquí modifico un poco los estilos por defecto para ciertos selectores.
*/

.hljs-comment {
    color:rgb(0, 114, 28);
    font-weight: bold;
}